<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/XSL/Transform">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="nav">
  <th:if sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
          <a class="navbar-brand col-lg-3 me-0" href="/">
            <img id="something" th:src="@{/IMG/GoTravelLogo.png}" height="40px">
          </a>
          <ul class="navbar-nav col-lg-6 justify-content-lg-center">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api-test">Activities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a href="/About" class="nav-link">Meet The Team!</a>
            </li>
          </ul>
          <div class="d-lg-flex col-lg-3 justify-content-lg-end">
            <div class="container d-flex justify-content-center">
              <a class="btn" href="/logout">
                <button class="btn-53 py-2">
                  <div class="original">Logout</div>
                  <div class="letters">

                    <span>L</span>
                    <span>o</span>
                    <span>g</span>
                    <span>o</span>
                    <span>u</span>
                    <span>t</span>
                  </div>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </th:if>

  <th:if sec:authorize="!isAuthenticated()">
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
          <a class="navbar-brand col-lg-3 me-0" href="/">
            <img id="something" th:src="@{/IMG/GoTravelLogo.png}" height="40px">
          </a>
          <ul class="navbar-nav col-lg-6 justify-content-lg-center">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api-test">Activities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a href="/About" class="nav-link">Meet The Team!</a>
            </li>
          </ul>
          <div class="d-lg-flex col-lg-3 justify-content-lg-end">
            <div class="container d-flex justify-content-center">
              <a class="btn" href="/login">
                <button class="btn-53 py-2">
                  <div class="original">login</div>
                  <div class="letters">

                    <span>L</span>
                    <span>o</span>
                    <span>g</span>
                    <span>i</span>
                    <span>n</span>
                  </div>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </th:if>
</div>


</body>
</html>



</body>
</html>