<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Activities</title>
    <script th:src="@{/keys.js}"></script>
    <meta name="_csrf" data-th-content="${_csrf.token}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;1,6..12,200;1,6..12,300&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/CSS/activity.css}">
    <link rel="stylesheet" th:href="@{/CSS/navbar.css}">
</head>
<body>
<nav th:include="partials/navbar :: nav"></nav>

<div class="hero-banner">
    <div class="hero-camping">
        <div id="heroText" class="col-lg-6 px-0">
            <h3 class="display-4 fst-italic">Activities at Your Fingertips</h3>
            <p class="lead my-3">Start searching for a location to plan your dream trip.</p>
        </div>
        <!--    <img class="hero-img" src="/IMG/Clouds-And-Mountains.jpg" style="width: 100%"/>-->
        <video autoplay loop muted playsinline class="back-video">
            <source th:src="@{/IMG/waterfall.mp4}" type="video/mp4">
        </video>
    </div>
</div>

<div id="api-data">
    <div class="search-box pb-3">
        <input type="text" id="searchBox" placeholder="Enter a city">
        <!--UI Button for search start-->

        <button id="search-city" class="btn-53 py-2" type="submit">
            <div class="original">Search</div>
            <div class="letters d-flex justify-content-center">
                <span>S</span>
                <span>e</span>
                <span>a</span>
                <span>r</span>
                <span>c</span>
                <span>h</span>
            </div>
        </button>
    </div>
    <div>
        <h1 id="animation">
            <span class="animation let1">l</span>
            <span class="animation let2">o</span>
            <span class="animation let3">a</span>
            <span class="animation let4">d</span>
            <span class="animation let5">i</span>
            <span class="animation let6">n</span>
            <span class="animation let7">g</span>
        </h1>
    </div>
    <br>
    <!--UI Button for search end-->
    <div id="card-container" class="container-hero d-flex flex-wrap justify-content-between">
    </div>
</div>
<div id="pagination" class="pagination-container"></div>

<!-- Modal Structure -->
<div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Activity Description</h1>
            </div>
            <div class="modal-body py-0">
                <p id="activityDescription"></p>
            </div>
            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                <!--UI Button for register start-->
                <button data-bs-dismiss="modal" class="btn-53 py-2 container-fluid" type="button">
                    <div class="original">Close</div>
                    <div class="letters d-flex justify-content-center">

                        <span>C</span>
                        <span>l</span>
                        <span>o</span>
                        <span>s</span>
                        <span>e</span>
                    </div>
                </button>
                <!--UI Button for register end-->
            </div>
        </div>
    </div>
</div>
<!-- Add this modal HTML somewhere in your HTML file -->
<div class="modal fade" id="tripModal" tabindex="-1" role="dialog" aria-labelledby="tripModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tripModalLabel">Add to Trip</h5>
            </div>
            <div class="modal-body">
                <th:if sec:authorize="isAuthenticated()">
                    <div class="col-md-6 the-card pt-3">
                        <h3>My Trips</h3>
                        <div class="trip" th:if="${#lists.size(user.getTrips()) == 0}">
                            <p>You currently have no trips! :( <br>
                                Click the button below to add a trip!</p>
                        </div>
                        <div class="trip" th:if="${#lists.size(user.getTrips()) > 0}">
                        </div>
                        <!--              <button class="btn btn-secondary btn-md" id="openModalBtn">Add A Trip</button>-->
                    </div>
                    <select id="tripSelect" class="form-select mx-3">
                        <!-- Populate options dynamically using JavaScript -->
                    </select>
                </th:if>
                <th:if sec:authorize="!isAuthenticated()">
                    <h2>Login or register to start planning!</h2>
                    <div class="d-flex gap-2">
                        <a href="/login" style="flex: 1 0 0;">

                            <button class="btn-53 container-fluid py-2">
                                <div class="original">Login</div>
                                <div class="letters d-flex justify-content-center">

                                    <span>L</span>
                                    <span>o</span>
                                    <span>g</span>
                                    <span>i</span>
                                    <span>n</span>
                                </div>
                            </button>
                        </a>
                        <a href="/register" style="flex: 1 0 0;">

                            <button class="btn-53 container-fluid py-2">
                                <div class="original">Register</div>
                                <div class="letters d-flex justify-content-center">

                                    <span>R</span>
                                    <span>e</span>
                                    <span>g</span>
                                    <span>i</span>
                                    <span>s</span>
                                    <span>t</span>
                                    <span>e</span>
                                    <span>r</span>
                                </div>
                            </button>
                        </a>
                    </div>
                </th:if>
            </div>
            <div class="modal-footer d-flex justify-content-center gap-2">
                <!--UI Button for register start-->
                <button class="btn-53 container-fluid py-2" type="button" id="save-activity">
                    <div class="original">Save changes</div>
                    <div class="letters d-flex justify-content-center">

                        <span>S</span>
                        <span>a</span>
                        <span>v</span>
                        <span>e</span>
                        <span>&nbsp;</span>
                        <span>C</span>
                        <span>h</span>
                        <span>a</span>
                        <span>n</span>
                        <span>g</span>
                        <span>e</span>
                        <span>s</span>
                    </div>
                </button>
                <!--UI Button for register end-->
                <!--UI Button for close start-->
                <button class="btn-53 container-fluid py-2" type="button" data-dismiss="modal" id="closeModal">
                    <div class="original">Close</div>
                    <div class="letters d-flex justify-content-center">

                        <span>C</span>
                        <span>l</span>
                        <span>o</span>
                        <span>s</span>
                        <span>e</span>
                    </div>
                </button>
                <!--UI Button for close end-->
            </div>
        </div>
    </div>
</div>


</div>


<!--Footer-->
<footer th:include="partials/footer :: footer"></footer>
<!--End Footer-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/API/api-activities.js}"></script>
<script th:src="@{/js/data.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>