<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/header :: head}"></th:block>
    <title>Activities</title>
    <script th:src="@{/keys.js}"></script>
    <meta name="_csrf" data-th-content="${_csrf.token}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;1,6..12,200;1,6..12,300&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/CSS/activity.css}">
    <link rel="stylesheet" th:href="@{/CSS/navbar.css}">
</head>
<body>
<nav th:include="partials/navbar :: nav"></nav>



<!--Footer-->
<footer th:include="partials/footer :: footer"></footer>
<!--End Footer-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/API/api-activities.js}"></script>
<script th:src="@{/js/data.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>