<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>

    <!-- Bootstrap CSS
================================================== -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Animate CSS
   ================================================== -->
    <link rel="stylesheet" href="css/animate.min.css">

    <!-- Font Icons
   ================================================== -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/et-line-font.css">

    <!-- Nivo Lightbox CSS
   ================================================== -->
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/nivo_themes/default/default.css">

    <!-- Owl Carousel CSS
   ================================================== -->
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.carousel.css">

    <!-- BxSlider CSS
   ================================================== -->
    <link rel="stylesheet" href="css/bxslider.css">

    <!-- Main CSS
    ================================================== -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Google web font
   ================================================== -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- Plan section
================================================== -->
<section id="plan" class="parallax-section">
    <div class="container">
        <div class="row">

            <!-- Section title
            ================================================== -->
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 wow fadeInUp">
                <div class="section-title">
                    <h5 class="wow bounceIn"></h5>
                    <h1 class="heading color-white">My Profile</h1>
                    <hr>
                    <p class="color-white"></p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="plan">
                    <h2 class="plan-title">Welcome, </h2>
                    <div class="plan-price">
                        <h1 class="plan-price-title"></h1>
                    </div>
                    <ul class="plan-list">
                        <li>Username: </li>
                        <li>Email: </li>
                        <li>Location: </li>
                    </ul>
                    <div class="plan-button">
                        <button class="btn btn-default">Edit Account</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="plan">
                    <h2 class="plan-title">My Trips</h2>
                    <div class="plan-price">
                        <h1 class="plan-price-title"></h1>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
                <div class="plan">
                    <h2 class="plan-title">Recommended Activities</h2>
                    <div class="plan-price">
                        <h1 class="plan-price-title"></h1>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

</body>
</html>