<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>My Profile</title>
    <meta name="_csrf" data-th-content="${_csrf.token}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/CSS/profile.css}">
    <link rel="stylesheet" th:href="@{/CSS/edit-profile.css}">
</head>
<body>

<!--Navbar-->
<nav th:include="partials/navbar :: nav"></nav>
<!--End Navbar-->

<!--My Profile Page Title-->
<div class="container pt-5 pb-5">
    <h1>My Profile</h1>
</div>
<!--End My Profile Page Title-->

<!--User Information Section-->
<div class="row mx-auto pb-5 gap-3">
    <!--Left Side-->
    <div class="col-md-6 the-card pt-3" sec:authorize="isAuthenticated()">
        <h2>Welcome, <span th:text="${user.firstName}"></span></h2>
        <img src="/IMG/headshot.jpg" height="100px" width="100px"/>

        <p>
            Username: <span th:text="${user.username}"></span><br>
            Email: <span th:text="${user.email}"></span><br>
            Location: <span th:text="${user.location}"></span><br>
        </p>


        <!--User Edit profile modal start-->
        <!--UI Button Start for edit profile-->
        <button id="editProfileBtn" type="button" class="btn-53 py-2">
            <div class="original">Edit profile</div>
            <div class="letters">

                <span>E</span>
                <span>D</span>
                <span>I</span>
                <span>T</span>
                <span>&nbsp;</span>
                <span>P</span>
                <span>R</span>
                <span>O</span>
                <span>F</span>
                <span>I</span>
                <span>L</span>
                <span>E</span>
            </div>
        </button>
        <!--UI Button Ends for edit profile-->
        <div id="editOverlay" class="editOverlay"></div>

        <div class="editModal" id="editModal">
            <div class="modal-content-edit">
<!--                <span class="closeEdit" id="closeModalEdit">&times;</span>-->
                <h2>Edit Your Profile</h2>
                <form id="editForm" th:action="@{/saveProfile}" method="post" th:object="${user}">
                    <label for="newEmail">New Email:</label>
                    <input type="email" id="newEmail" name="newEmail" th:field="*{email}"><br><br>
                    <label for="newLocation">New Location:</label>
                    <input type="text" id="newLocation" name="newLocation" th:field="*{location}"><br><br>
                    <!--                    <input type="submit" value="Save">-->
                    <!--UI Button for Save profile info start-->
                    <div class="d-flex gap-2">
                        <button id="editSubmit" type="submit" class="btn-53 py-2 d-flex justify-content-center" style="flex: 1 0 0;">
                            <div class="original">Save</div>
                            <div class="letters">

                                <span>S</span>
                                <span>A</span>
                                <span>V</span>
                                <span>E</span>
                            </div>
                        </button>

                        <button id="closeModalEdit" type="button" class="btn-53 py-2 d-flex justify-content-center" style="flex: 1 0 0;">
                            <div class="original">Close</div>
                            <div class="letters">

                                <span>C</span>
                                <span>l</span>
                                <span>o</span>
                                <span>s</span>
                                <span>E</span>
                            </div>
                        </button>
                    </div>
                    <!--UI Button for Save profile info end-->
                </form>
            </div>
        </div>

        <!--User Edit profile modal end-->
    </div>

    <div id="overlay"></div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <!--            <span class="close" id="closeModalBtn">&times;</span>-->
            <h2>Create a Trip</h2>
            <form id="tripForm" method="post" action="/createTrip">
                <p>Name your trip!</p>
                <input class="nameModal" type="text" id="name" name="name" required>
                <p>Where would you like to go?</p>
                <input class="nameModal" type="text" id="location" name="location" required>
                <br>
                <input class="visually-hidden" th:value="${user.getId()}" id="user">

                <!--UI Button for create trip start-->
                <div class="d-flex gap-2">
                    <button type="submit" class="btn-53 py-2 d-flex justify-content-center" style="flex: 1 0 0;">
                        <div class="original">Create Trip</div>
                        <div class="letters ">

                            <span>C</span>
                            <span>r</span>
                            <span>e</span>
                            <span>a</span>
                            <span>t</span>
                            <span>e</span>
                            <span>&nbsp;</span>
                            <span>T</span>
                            <span>r</span>
                            <span>i</span>
                            <span>p</span>
                        </div>
                    </button>
                    <!--UI Button for create trip info end-->
                    <button type="button" class="btn-53 py-2 d-flex justify-content-center" style="flex: 1 0 0;"
                            id="closeModalBtn">
                        <div class="original">Close</div>
                        <div class="letters">

                            <span>C</span>
                            <span>l</span>
                            <span>o</span>
                            <span>s</span>
                            <span>e</span>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--Right Side-->
    <div class="col-md-6 the-card pt-3">
        <h3>My Trips</h3>
        <div class="trip" th:if="${#lists.size(user.getTrips()) == 0}">
            <p>You currently have no trips! :( <br>
                Click the button below to add a trip!</p>
        </div>
        <div class="trip" th:if="${#lists.size(user.getTrips()) > 0}">
            <div class="card" th:each="trip: ${user.getTrips()}">
                <h1 th:text="${trip.getName()}"></h1>
                <h2 th:text="${trip.getLocation()}"></h2>
                <div class="buttons">
                    <!--                <button class="btn btn-sm activity-button">See more!</button>-->
                    <!--UI Button for create trip start-->
                    <button class="btn-53 py-2 mb-3">
                        <div class="original">See more!</div>
                        <div class="letters">

                            <span>S</span>
                            <span>e</span>
                            <span>e</span>
                            <span>&nbsp;</span>
                            <span>M</span>
                            <span>o</span>
                            <span>r</span>
                            <span>e</span>
                            <span>!</span>
                        </div>
                    </button>
                    <!--UI Button for create trip info end-->
                    <!--UI Button for delete trip start-->
                    <button class="btn-53 py-2 deleteTrip mb-3" th:data-trip-id="${trip.id}">
                        <div class="original">Delete Trip</div>
                        <div class="letters">
                            <span>D</span>
                            <span>e</span>
                            <span>l</span>
                            <span>e</span>
                            <span>t</span>
                            <span>e</span>
                            <span>&nbsp;</span>
                            <span>T</span>
                            <span>r</span>
                            <span>i</span>
                            <span>p</span>
                        </div>
                    </button>
                    <!--UI Button for delete trip info end-->
                </div>
            </div>
        </div>
        <!--        <button class="btn btn-secondary btn-md" >Add A Trip</button>-->

        <!--UI Button for Add a trip start-->
        <button id="openModalBtn" class="btn-53 py-2 mt-5">
            <div class="original">Add A Trip</div>
            <div class="letters">

                <span>A</span>
                <span>d</span>
                <span>d</span>
                <span>&nbsp;</span>
                <span>A</span>
                <span>&nbsp;</span>
                <span>T</span>
                <span>r</span>
                <span>i</span>
                <span>p</span>
            </div>
        </button>
        <!--UI Button for add a trip info end-->
    </div>

</div>
</div>
<!--End User Information Section-->

<!--Footer-->
<footer th:include="partials/footer :: footer"></footer>
<!--End Footer-->

<script src="https://kit.fontawesome.com/e9132f2c3c.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script th:src="@{/js/create-trip.js}"></script>
<script th:src="@{/js/edit-profile-modal.js}"></script>
</body>
</html>
