<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trip Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/CSS/see-more.css}">
</head>
<body>
<nav th:include="partials/navbar :: nav"></nav>
<h1>Trip Details</h1>

<!--or is it ${user.getTrips()}-->
<h2>Trip Name: <span th:text="${trip.getName()}"></span></h2>
<h2>Trip Location: <span th:text="${trip.getLocation()}"></span></h2>

<h2>Activities:</h2>
<ul>
    <li th:each="activity : ${trip.getActivities()}">
        <span th:text="${trip.name}"></span>
    </li>
</ul>


<footer th:include="partials/footer :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
