body {
    background-color: lightgray;
    font-family: 'Nunito Sans', sans-serif;
}

.card{
    width: 20rem;
    margin: 6px;
    flex-wrap: wrap;
    justify-content: space-around;
}

svg{
    width: 16px;
    height: 16px;
}

ul{
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

.codeup{
    width: 16px;
    height: 16px;
}

