body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.card{
    width: 20rem;
    margin: 6px;
    flex-wrap: wrap;
    justify-content: space-around;
}

svg{
    width: 19px;
    height: 19px;
}

ul{
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

.codeup{
    width: 19px;
    height: 19px;
}

header {
    font-size: 40px;
    color: #1f6b7b;
    letter-spacing: -3px;
    text-transform: uppercase;
}

footer {
    margin-top: auto;
}