*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 20px 8%;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 80px;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 160px;
    color: #fff;
    font-weight: 600;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

/* Style the search container */
.search-container {
    display: flex;
    align-items: center;
    width: 300px; /* Adjust the width as needed */
}

/* Style the input */
.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Style the button */
.search-container button[type="submit"] {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

/* Style the button icon */
.search-container button[type="submit"] i {
    font-size: 18px;
}

#searchBox {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Add some space between the search box and button */
}

/* CSS styles for search button */
#search-city {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: 200px;
}

.card-img-bottom {
    height: 100px;
}

.card {
    width: 50%;
    height: 100%;
    background-color: black; /* Set your desired background color */
    border-radius: 10px; /* Optional: Adds rounded corners to the card */
    box-shadow: 10px 4px 8px 10px rgba(0, 0, 0, 0.2);
    /*
        box-shadow properties:
        - The first value (0px) sets the horizontal offset of the shadow.
        - The second value (4px) sets the vertical offset of the shadow.
        - The third value (8px) sets the blur radius.
        - The fourth value (0px) sets the spread radius.
        - rgba(0, 0, 0, 0.2) sets the color and opacity of the shadow.
    */

}

.looking-img {
    width: 100%;
}

p {
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
}

.info-section {
    background-color: #088395;
}

/* CSS for the modal */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Set a specific width */
    height: 100%; /* Set a specific height */
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

h2 {
    font-size: 400%;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination {
    display: inline-flex;
    border-radius: 5px;
    overflow: hidden;

}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-right: none;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease-in-out;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-right: 1px solid #ddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination a.active {
    background-color: #4caf50;
    color: white;
    border: none;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}