form {
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 10rem;
}
input{
    margin: 6px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.login-button {
    background-color: #1f6b7b;
}