.activity-icon {
    position: absolute;

}

.navbar-brand {
    position: relative;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {

}

.row {
    justify-content: center;
}

.col-md-6 {
    margin-left: 30em;
    margin-right: -20em;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #35A29F;
}

.input-group {
    margin-top: 50px;
    position: relative;
}

#exampleDataList {
    background-color: transparent;
    color: #fff;
    border-color: #35A29F;
}

#activity-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}