.activity-icon {
    position: absolute;

}

.navbar-brand {
    position: relative;
}

h1 {
    text-align: center;
}

h2 {

}

.row {
    justify-content: center;
}

.profile-column-one {
    columns: auto;
    margin-left: 20rem;

}

.profile-column-two {
    columns: auto;
    margin-left: 20rem;
}

.row-one {
    margin-left: 14rem;
}