footer {
    margin-top: auto;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 40px;
    color: #1f6b7b;
    letter-spacing: -3px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 6px;
}

li{
    list-style: none;
}

.actimg{
    width: auto;
    height: auto;
    margin: 4px;
}
.container{
    display: flex;
}

.card{
    width: 40rem;
    margin: 2px;
}